*{
    margin: 0;
    padding: 0;
}
.game_cont{
    height: 100vh;
    width:100vw;
    background-image: url(assets/bg.png);
    background-size: contain;
    background-position: center center;
    
}
.dino{
    height: 20vh;
    width:20vw;
    background-image: url(assets/dino.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom: 0vh;
    left: 10vw;
}
.dragon{
    height: 20vh;
    width:20vw;
    background-image: url(assets/dragon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0vh;
    left: 60vw;
}